@import "tailwindcss";

.aleo-700 { 
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: normal;
}

.aleo-300 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal; 
}