@import "tailwindcss";

.aleo-700 { /* Replaced <uniquifier> with 'my-aleo-text' */
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Using bold weight for this class */
  font-style: normal;
}

.aleo-300 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 300; /* Using light weight for this class */
  font-style: italic; /* If you imported italic styles */
}